body{
    padding: 0;
    margin: 0;
    background-image: url("gintoki.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

#nav{
    background: rgba(0, 0, 0, 0.3);
    height: 3em;
    display: flex;
}

#nav ul{
    display: flex;
    margin: auto;
    
}
#nav ul li{
    margin: 1em;
    list-style-type: none;
}
/* Descendant selector */
#nav ul li a{
    color: white;
    text-decoration: none;
    padding: .5em;
}

/* Pseudo Class */
#nav ul li a:hover{
    border-bottom: 2px solid white;

}

#nav ul li a:visited{
    border-bottom: 2px solid yellow;
}

#logo{
    height: 3em;
    display: flex;
    margin: 0 -2em 0em 2em;
}

#logo img{
    height: 90%;
}
#logo p a{
    color:white;
    text-decoration: none;
    border: none;
}
/* Pseudo Class */
#logo p a:hover{
    color: red;
}


/* main content */
#main{
    border: 1px solid white;
    background: rgba(0, 0, 0, .5);
    border-radius: 1em;
    margin: 2em 0 0 5em;
    height: 80%;
    width: 30%;
    
}

.form {
    width: 90%;
    height: 70%;
    margin: auto;
    margin-top: 6em;
}
.form h1{
    text-align: center;
}

/* Descendant selector */
.form h1 a{
    
    text-decoration: none;
    color: white;
}
/* Pseudo class */

.form h1 a:active{
    color:red;
}

#boxlogo{
    height: 5em;
    display: flex;
    margin: auto;
    margin-top: -4em;
}


::-webkit-input-placeholder { 
    color: white;
  }

.input{
    margin: auto;
    text-align: center;
    color: white;
}
.input input{
    background: none;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-bottom: 3px solid white;
    outline: none;
    color: white;
    font-size: 1em;
    text-align: center;
    width: 40%;
}
.input input:focus{
    border:none;
    border-bottom: 3px solid red;
}
.button{
    margin: auto;
    text-align: center;
}
.button button{
    height: 3em;
    width: 10em;
    border-radius: 1em;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.763);
}

/* Descendant selector */
.button button a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

/* Pseudo Class */
.button button a:hover{
    color:red;
}